{% extends "base.html" %} {% block title %}إدارة البراندات{% endblock %} {%
block head %} {# <link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/brands.css" /> #}
<link rel="stylesheet" href="/assets/css/global.css" />
<link rel="stylesheet" href="/assets/css/new_brands.css" />

{% endblock %} {% block content %} {% include
"components/brand_header_toolbar.html" %} {% include
"components/brand_card_grid.html"%} {% include "components/brand_modal.html" %}
{% endblock %} {% block scripts %}
<script src="/assets/js/main.js" defer></script>
<script src="/assets/js/brands.js" defer></script>
{% endblock %}
