<aside class="sidebar">
  <div class="brand-mark"><span class="dot"></span> لوحة التحكم</div>
  <ul class="nav-list">
    <li>
      <a href="/web/brands" class="{% block nav_brands %}{% endblock %}">
        <span class="nav-icon">ب</span>
        البراندات
      </a>
    </li>
    <li>
      <a href="/web/categories" class="{% block nav_categories %}{% endblock %}">
        <span class="nav-icon">ف</span>
        الفئات
      </a>
    </li>
    <li>
      <a href="/web/products" class="{% block nav_products %}{% endblock %}">
        <span class="nav-icon">م</span>
        المنتجات
      </a>
    </li>
    <li>
      <a href="/web/product-variants" class="{% block nav_variants %}{% endblock %}">
        <span class="nav-icon">م</span>
        متغيرات المنتج
      </a>
    </li>
  </ul>
</aside>